__pycache__/*
*.txt
*.csv
*.search
Canidae/Aelurodon.html
Canidae/Aelurodontina.html
Canidae/Afghan_fox.html
Canidae/African_golden_wolf.html
Canidae/African_golden_wolves.html
Canidae/African_hunting_dog.html
Canidae/African_wild_dog.html
Canidae/African_wild_dogs.html
Canidae/Alaskan_tundra_wolf.html
Canidae/Alexander_Archipelago_wolf.html
Canidae/American_red_fox.html
Canidae/Andean_fox.html
Canidae/Arabian_red_fox.html
Canidae/Arabian_wolf.html
Canidae/Archaeocyon.html
Canidae/Arctic_fox.html
Canidae/Arctic_wolf.html
Canidae/Armbruster%27s_wolf.html
Canidae/Atelocynus_microtis.html
Canidae/Atelocynus.html
Canidae/Austro-Hungarian_wolf.html
Canidae/Baffin_Island_wolf.html
Canidae/Bat-eared_fox.html
Canidae/Bengal_fox.html
Canidae/Beringian_wolf.html
Canidae/Bernard%27s_wolf.html
Canidae/Black-backed_jackal.html
Canidae/Blanford%27s_fox.html
Canidae/Borophagina.html
Canidae/Borophaginae.html
Canidae/Borophagine.html
Canidae/Borophagini.html
Canidae/Borophagus_diversidens.html
Canidae/Borophagus_dudleyi.html
Canidae/Borophagus_hilli.html
Canidae/Borophagus_littoralis.html
Canidae/Borophagus_orc.html
Canidae/Borophagus_parvus.html
Canidae/Borophagus_pugnator.html
Canidae/Borophagus_secundus.html
Canidae/Borophagus.html
Canidae/British_Columbia_wolf.html
Canidae/Bush_dog.html
Canidae/C._latrans.html
Canidae/C._lepophagus.html
Canidae/C._lupus.html
Canidae/Caedocyon.html
Canidae/Canid.html
Canidae/Canidae.html
Canidae/Canids.html
Canidae/Caniform.html
Canidae/Caniformia.html
Canidae/Caniforms.html
Canidae/Canina_(subtribe).html
Canidae/Caninae.html
Canidae/Canini_(tribe).html
Canidae/Canis_adustus.html
Canidae/Canis_africanus.html
Canidae/Canis_ambrusteri.html
Canidae/Canis_anthus.html
Canidae/Canis_apolloniensis.html
Canidae/Canis_armbrusteri.html
Canidae/Canis_arnensis.html
Canidae/Canis_aureus.html
Canidae/Canis_cedazoensis.html
Canidae/Canis_dirus.html
Canidae/Canis_edwardii.html
Canidae/Canis_etruscus.html
Canidae/Canis_falconeri.html
Canidae/Canis_ferox.html
Canidae/Canis_latrans.html
Canidae/Canis_lepophagus.html
Canidae/Canis_lupus_arctos.html
Canidae/Canis_lupus_baileyi.html
Canidae/Canis_lupus_dingo.html
Canidae/Canis_lupus_familiaris.html
Canidae/Canis_lupus_italicus.html
Canidae/Canis_lupus_lupus.html
Canidae/Canis_lupus_lycaon.html
Canidae/Canis_lupus_nubilus.html
Canidae/Canis_lupus_occidentalis.html
Canidae/Canis_lupus_pambasileus.html
Canidae/Canis_lupus_subspecies.html
Canidae/Canis_lupus_variabilis.html
Canidae/Canis_lupus.html
Canidae/Canis_mesomelas.html
Canidae/Canis_mosbachensis.html
Canidae/Canis_nehringi.html
Canidae/Canis_rufus_floridanus.html
Canidae/Canis_rufus_gregoryi.html
Canidae/Canis_rufus_rufus.html
Canidae/Canis_rufus.html
Canidae/Canis_simensis.html
Canidae/Canis_variabilis.html
Canidae/Canis.html
Canidae/Canoidea.html
Canidae/Cape_fox.html
Canidae/Cape_wild_dog.html
Canidae/Carpocyon.html
Canidae/Cascade_mountain_wolf.html
Canidae/Cascade_red_fox.html
Canidae/Cave_wolf.html
Canidae/Cerdocyon_avius.html
Canidae/Cerdocyon_thous.html
Canidae/Cerdocyon.html
Canidae/Cerdocyonina_(subtribe).html
Canidae/Cerdocyonina.html
Canidae/Chadian_wild_dog.html
Canidae/Chrysocyon_brachyurus.html
Canidae/Chrysocyon.html
Canidae/Coastal_wolf.html
Canidae/Cormocyon.html
Canidae/Corsac_fox.html
Canidae/Coydog.html
Canidae/Coyote.html
Canidae/Coyotes.html
Canidae/Coywolf.html
Canidae/Cozumel_fox.html
Canidae/Crab-eating_fox.html
Canidae/Culpeo.html
Canidae/Cuon_alpinus.html
Canidae/Cuon.html
Canidae/Cynarctina.html
Canidae/Cynarctoides.html
Canidae/Cynarctus.html
Canidae/Cynodesmus.html
Canidae/Cynodictis.html
Canidae/Cynoidea.html
Canidae/Cynotherium_sardous.html
Canidae/Darwin%27s_fox.html
Canidae/Desmocyon.html
Canidae/Dhole.html
Canidae/Dholes.html
Canidae/Dingo_(taxon).html
Canidae/Dingo.html
Canidae/Dingos.html
Canidae/Dire_wolf.html
Canidae/Dog.html
Canidae/Domestic_dog.html
Canidae/Dusicyon_australis.html
Canidae/Dusicyon_avus.html
Canidae/Dusicyon_cultridens.html
Canidae/Dusicyon.html
Canidae/East_African_wild_dog.html
Canidae/Eastern_coyote.html
Canidae/Eastern_wolf.html
Canidae/Ectopocynus.html
Canidae/Egyptian_wolf.html
Canidae/Enhydrocyon.html
Canidae/Epicyon.html
Canidae/Ethiopian_wolf.html
Canidae/Eucyon_davisi.html
Canidae/Eucyon.html
Canidae/Euoplocyon.html
Canidae/Eurasian_wolf.html
Canidae/European_dhole.html
Canidae/European_jackal.html
Canidae/Ezo_red_fox.html
Canidae/Falkland_Islands_wolf.html
Canidae/Fennec_fox.html
Canidae/Ferrucyon.html
Canidae/Florida_black_wolf.html
Canidae/Fox.html
Canidae/Golden_jackal.html
Canidae/Golden_jackals.html
Canidae/Golden_wolf.html
Canidae/Gray_fox.html
Canidae/Gray_wolf.html
Canidae/Gray_wolves.html
Canidae/Great_Lakes_boreal_wolf.html
Canidae/Great_Lakes_wolf.html
Canidae/Great_Plains_wolf.html
Canidae/Greenland_wolf.html
Canidae/Gregory%27s_wolf.html
Canidae/Grey_fox.html
Canidae/Grey_wolf.html
Canidae/Hesperocyon.html
Canidae/Hesperocyoninae.html
Canidae/Himalayan_wolf.html
Canidae/Hoary_fox.html
Canidae/Hokkaid%C5%8D_wolf.html
Canidae/Hokkaido_wolf.html
Canidae/Honshu_wolf.html
Canidae/Hudson_Bay_wolf.html
Canidae/Iberian_wolf.html
Canidae/Indian_jackal.html
Canidae/Indian_wolf.html
Canidae/Indian_wolves.html
Canidae/Interior_Alaskan_wolf.html
Canidae/Island_fox.html
Canidae/Italian_wolf.html
Canidae/Jackal-Dog_Hybrid.html
Canidae/Jackal-wolf_hybrid.html
Canidae/Jackal.html
Canidae/Jackal%E2%80%93dog_hybrid.html
Canidae/Jackals.html
Canidae/Japanese_raccoon_dog.html
Canidae/Japanese_wolf.html
Canidae/Kenai_Peninsula_wolf.html
Canidae/Kit_fox.html
Canidae/Korean_fox.html
Canidae/Labrador_wolf.html
Canidae/Leptocyon.html
Canidae/Lycalopex_culpaeus.html
Canidae/Lycalopex_fulvipes.html
Canidae/Lycalopex_griseus.html
Canidae/Lycalopex_gymnocercus.html
Canidae/Lycalopex_sechurae.html
Canidae/Lycalopex_vetulus.html
Canidae/Lycalopex.html
Canidae/Lycaon_(genus).html
Canidae/Lycaon_pictus.html
Canidae/Lycaon_sekowei.html
Canidae/Mackenzie_River_wolf.html
Canidae/Mackenzie_Valley_wolf.html
Canidae/Maned_wolf.html
Canidae/Manitoba_wolf.html
Canidae/Mearns_coyote.html
Canidae/Mececyon_trinilensis.html
Canidae/Megacyon_merriami.html
Canidae/Megafaunal_wolf.html
Canidae/Mesocyon.html
Canidae/Metalopex.html
Canidae/Metatomarctus.html
Canidae/Mexican_wolf.html
Canidae/Microtomarctus.html
Canidae/Mogollon_mountain_wolf.html
Canidae/Mongolian_wolf.html
Canidae/Neocynodesmus.html
Canidae/Newfoundland_wolf.html
Canidae/Northeastern_coyote.html
Canidae/Northern_Rocky_Mountain_wolf.html
Canidae/Northwestern_wolf.html
Canidae/Nurocyon.html
Canidae/Nyctereutes_procyonoides.html
Canidae/Nyctereutes.html
Canidae/Osbornodon_iamonensis.html
Canidae/Osbornodon.html
Canidae/Osteoborus.html
Canidae/Otarocyon.html
Canidae/Otocyon_megalotis.html
Canidae/Otocyon.html
Canidae/Oxetocyon.html
Canidae/Pale_fox.html
Canidae/Pampas_fox.html
Canidae/Paracynarctus.html
Canidae/Paraenhydrocyon_josephi.html
Canidae/Paraenhydrocyon.html
Canidae/Paratomarctus.html
Canidae/Philotrox.html
Canidae/Phlaocyon_achoros.html
Canidae/Phlaocyon_annectens.html
Canidae/Phlaocyon_latidens.html
Canidae/Phlaocyon_mariae.html
Canidae/Phlaocyon_minor.html
Canidae/Phlaocyon_yatkolai.html
Canidae/Phlaocyon.html
Canidae/Phlaocyonini.html
Canidae/Plains_coyote.html
Canidae/Pleistocene_coyote.html
Canidae/Prohesperocyon.html
Canidae/Protepicyon.html
Canidae/Protocyon.html
Canidae/Protomarctus.html
Canidae/Prototocyon.html
Canidae/Psalidocyon.html
Canidae/Pseudalopex.html
Canidae/R%C3%BCppell%27s_fox.html
Canidae/Raccoon_dog.html
Canidae/Red_Fox.html
Canidae/Red_wolf.html
Canidae/Rhizocyon.html
Canidae/Russian_wolf.html
Canidae/San_Joaquin_kit_fox.html
Canidae/Sardinian_dhole.html
Canidae/Sechuran_fox.html
Canidae/Senegalese_wolf.html
Canidae/Sexual_behavior_of_wolves.html
Canidae/Short-eared_dog.html
Canidae/Sicilian_wolf.html
Canidae/Side-striped_jackal.html
Canidae/Sierra_Nevada_red_fox.html
Canidae/Somali_wild_dog.html
Canidae/South_American_fox.html
Canidae/South_American_gray_fox.html
Canidae/Southern_Rocky_Mountain_wolf.html
Canidae/Speothos_pacivorus.html
Canidae/Speothos_venaticus.html
Canidae/Speothos.html
Canidae/Sri_Lankan_jackal.html
Canidae/Steppe_wolf.html
Canidae/Subspecies_of_Canis_lupus.html
Canidae/Subspecies_of_gray_wolf.html
Canidae/Subspecies_of_grey_wolf.html
Canidae/Subspecies_of_the_gray_wolf.html
Canidae/Sumatran_dhole.html
Canidae/Sunkahetanka.html
Canidae/Swift_fox.html
Canidae/Tephrocyon.html
Canidae/Texas_red_wolf.html
Canidae/Texas_wolf.html
Canidae/Theriodictis.html
Canidae/Tibetan_fox.html
Canidae/Tibetan_sand_fox.html
Canidae/Tibetan_wolf.html
Canidae/Tien_Shan_dhole.html
Canidae/Tomarctus.html
Canidae/Trans-Caucasian_fox.html
Canidae/True_fox.html
Canidae/Tundra_wolf.html
Canidae/Turkmenian_fox.html
Canidae/Urban_foxes.html
Canidae/Urocyon_cinereoargenteus.html
Canidae/Urocyon_littoralis.html
Canidae/Urocyon_progressus.html
Canidae/Urocyon.html
Canidae/Ussuri_dhole.html
Canidae/Vancouver_Island_wolf.html
Canidae/Variegated_wolf.html
Canidae/Vixen.html
Canidae/Vulpes_bengalensis.html
Canidae/Vulpes_cana.html
Canidae/Vulpes_chama.html
Canidae/Vulpes_corsac.html
Canidae/Vulpes_ferrilata.html
Canidae/Vulpes_lagopus.html
Canidae/Vulpes_macrotis.html
Canidae/Vulpes_pallida.html
Canidae/Vulpes_qiuzhudingi.html
Canidae/Vulpes_riffautae.html
Canidae/Vulpes_rueppelli.html
Canidae/Vulpes_rueppellii.html
Canidae/Vulpes_skinneri.html
Canidae/Vulpes_velox.html
Canidae/Vulpes_vulpes.html
Canidae/Vulpes_zerda.html
Canidae/Vulpes.html
Canidae/Vulpini.html
Canidae/Warrah.html
Canidae/West_African_wild_dog.html
Canidae/White-footed_fox.html
Canidae/Wolf.html
Canidae/Wolves_mating.html
Canidae/Wolves.html
Canidae/Xenocyon.html
Canidae/Yukon_wolf.html
Hominidae/Ankarapithecus.html
Hominidae/Anoiapithecus.html
Hominidae/Ape.html
Hominidae/Ardipithecus_kadabba.html
Hominidae/Ardipithecus_ramidus.html
Hominidae/Ardipithecus.html
Hominidae/Australopithecina.html
Hominidae/Australopithecine.html
Hominidae/Australopithecus_afarensis.html
Hominidae/Australopithecus_africanus.html
Hominidae/Australopithecus_anamensis.html
Hominidae/Australopithecus_bahrelghazali.html
Hominidae/Australopithecus_deyiremeda.html
Hominidae/Australopithecus_garhi.html
Hominidae/Australopithecus_sediba.html
Hominidae/Australopithecus.html
Hominidae/Bonobo.html
Hominidae/Bornean_orangutan.html
Hominidae/Chimpanzee.html
Hominidae/Chororapithecus.html
Hominidae/Common_chimpanzee.html
Hominidae/Cross_River_gorilla.html
Hominidae/Danuvius_guggenmosi.html
Hominidae/Dryopithecinae.html
Hominidae/Dryopithecini.html
Hominidae/Dryopithecus.html
Hominidae/Eastern_gorilla.html
Hominidae/Eastern_lowland_gorilla.html
Hominidae/Gibbon.html
Hominidae/Gigantopithecus.html
Hominidae/Gorilla.html
Hominidae/Gorillini.html
Hominidae/Graecopithecini.html
Hominidae/Graecopithecus.html
Hominidae/Griphopithecus_alpani.html
Hominidae/Griphopithecus_suessi.html
Hominidae/Griphopithecus.html
Hominidae/Hominidae.html
Hominidae/Hominina.html
Hominidae/Homininae.html
Hominidae/Hominini.html
Hominidae/Homo_antecessor.html
Hominidae/Homo_erectus.html
Hominidae/Homo_ergaster.html
Hominidae/Homo_floresiensis.html
Hominidae/Homo_habilis.html
Hominidae/Homo_heidelbergensis.html
Hominidae/Homo_luzonensis.html
Hominidae/Homo_naledi.html
Hominidae/Homo_neanderthalensis.html
Hominidae/Homo_rhodesiensis.html
Hominidae/Homo_rudolfensis.html
Hominidae/Homo_sapiens_idaltu.html
Hominidae/Homo_sapiens_sapiens.html
Hominidae/Homo_sapiens.html
Hominidae/Homo.html
Hominidae/Human.html
Hominidae/Hylobatidae.html
Hominidae/Java_Man.html
Hominidae/Javanthropus_soloensis.html
Hominidae/Kenyanthropus_platyops.html
Hominidae/Kenyanthropus.html
Hominidae/Kenyapithecus.html
Hominidae/Khoratpithecus.html
Hominidae/Lufengpithecus.html
Hominidae/Mountain_gorilla.html
Hominidae/Nakalipithecus.html
Hominidae/Orangutan.html
Hominidae/Orrorin.html
Hominidae/Otavipithecus.html
Hominidae/Ouranopithecus_macedoniensis.html
Hominidae/Ouranopithecus_turkae.html
Hominidae/Ouranopithecus.html
Hominidae/Pan_(genus).html
Hominidae/Pan_troglodytes_ellioti.html
Hominidae/Pan_troglodytes_schweinfurthii.html
Hominidae/Pan_troglodytes_troglodytes.html
Hominidae/Pan_troglodytes_verus.html
Hominidae/Panina.html
Hominidae/Paranthropus_aethiopicus.html
Hominidae/Paranthropus_boisei.html
Hominidae/Paranthropus_robustus.html
Hominidae/Paranthropus.html
Hominidae/Peking_Man.html
Hominidae/Ponginae.html
Hominidae/Pongini.html
Hominidae/Pongo_hooijeri.html
Hominidae/Praeanthropus.html
Hominidae/Primate.html
Hominidae/Rudapithecus.html
Hominidae/Sahelanthropus.html
Hominidae/Sinanthropus_pekinensis.html
Hominidae/Sivapithecini.html
Hominidae/Sivapithecus.html
Hominidae/Sumatran_orangutan.html
Hominidae/Tapanuli_orangutan.html
Hominidae/Telanthropus_capensis.html
Hominidae/Troglodytes_gorilla.html
Hominidae/Western_gorilla.html
Hominidae/Western_lowland_gorilla.html
